# Types of data that are useful to data scientists

| Data Type | Example |Uses |
| :--------- | :------- | :---- |
| text | tweets, scripts, books | sentiment analysis, text generation, other natural language processing |
| JSON or XML | parsing APIs | gathering data, trend alalysis, forecasting... |
| HTML | web scraping | gathering web based document data, social media contacts... |
| images | computer vision | self-driving cars, medical imaging diagnostics |

## For today

- JSON: `json`
- XML: `xml`
- HTML: `xml` (`BeautifulSoup` not covered but good to be aware of)

In [1]:
import pandas as pd

In [2]:
puppies = pd.read_excel("../data/puppies.xlsx")
puppies.head()

      name  age  weight
0    pippa    6       8
1  prairie    6       5
2    pippa   24      12
3  prairie   24      10

In [8]:
puppies_weights = pd.read_excel("../data/puppies.xlsx", sheet_name="Sheet1")
puppies_desc = pd.read_excel("../data/puppies.xlsx", sheet_name="Sheet2")

puppies_weights

      name  age  weight
0    pippa    6       8
1  prairie    6       5
2    pippa   24      12
3  prairie   24      10

In [9]:
puppies_desc

      name      color                 type
0    pippa      white                  mix
1  prairie  tri-color                  mix
2   chewey      white  jack russel terrier

# XML and HTML
- `html`: hyper text markup language
- `xml`: extensible markup language
- hierarchical collections of elements
- generally consists of an opening tag, content and closing tag

Let's look at some HTML: [Wikipedia page for "Dogs"](https://en.wikipedia.org/wiki/Dog)


Let's look at some XML:

```xml
<dog>
    <name>Pippa</name>
    <age>10</age>
    <diet>
        <fooditem>kibbles</fooditem>
        <fooditem>pumpkin</fooditem>
    </diet>
</dog>
```

perhaps with attributes

```xml
<dog name="Pippa" age="10">
    <diet>
        <fooditem name="kibbles"></fooditem>
        <fooditem name="pumpkin"></fooditem>  
    </diet>
</dog>
```